In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_original\Internet_Ingresos.csv")
df

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          3                67.055.930  Jul-Sept 2022
1   2022          2                60.335.724   Abr-Jun 2022
2   2022          1                55.589.997   Ene-Mar 2022
3   2021          4                45.467.887   Oct-Dic 2021
4   2021          3                42.999.944  Jul-Sept 2021
5   2021          2                38.239.667   Abr-Jun 2021
6   2021          1                36.676.371   Ene-Mar 2021
7   2020          4                33.539.703   Oct-Dic 2020
8   2020          3                31.997.445  Jul-Sept 2020
9   2020          2                32.102.476   Abr-Jun 2020
10  2020          1                29.946.216   Ene-Mar 2020
11  2019          4                24.169.251   Oct-Dic 2019
12  2019          3                21.652.748  Jul-Sept 2019
13  2019          2                20.743.118   Abr-Jun 2019
14  2019          1                20.207.414   Ene-Mar 2019
15  2018          4                16.637.687   Oct-Dic 2018
16  2018          3                15.410.981  Jul-Sept 2018
17  2018          2                14.319.467   Abr-Jun 2018
18  2018          1                13.171.459   Ene-Mar 2018
19  2017          4                11.226.127   Oct-Dic 2017
20  2017          3                10.065.998  Jul-Sept 2017
21  2017          2                 9.678.647   Abr-Jun 2017
22  2017          1                 8.701.201   Ene-Mar 2017
23  2016          4                 7.483.980   Oct-Dic 2016
24  2016          3                 6.912.442  Jul-Sept 2016
25  2016          2                 6.534.241   Abr-Jun 2016
26  2016          1                 5.936.845   Ene-Mar 2016
27  2015          4                 5.376.899   Oct-Dic 2015
28  2015          3                 5.153.739  Jul-Sept 2015
29  2015          2                 4.701.791   Abr-Jun 2015
30  2015          1                 4.876.385   Ene-Mar 2015
31  2014          4                 3.950.441   Oct-Dic 2014
32  2014          3                 3.478.638  Jul-Sept 2014
33  2014          2                 3.270.816   Abr-Jun 2014
34  2014          1                 2.984.054   Ene-Mar 2014

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB